workflows/tumultes/echo.json
{
  "active": true,
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "load templates": {
      "main": [
        [
          {
            "node": "message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocumentGenerator": {
      "main": [
        [
          {
            "node": "echo !",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message": {
      "main": [
        [
          {
            "node": "DocumentGenerator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "load templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-05T17:27:09.480Z",
  "id": "SMrwTIq7GklUiqPG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "tumultes/echo",
  "nodes": [
    {
      "parameters": {
        "path": "tumultes/echo",
        "formTitle": "Are you listening?",
        "formDescription": "Whenever I have trouble (trouble, trouble, trouble) I know just what to do (to do, to do, to do) They vanish like a bubble (bubble, bubble, bubble) If I just count on you (on you, on you, on you)",
        "formFields": {
          "values": [
            {
              "fieldLabel": "message",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode"
      },
      "id": "1f11866b-5dfa-438b-aa69-575865e32581",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        400,
        320
      ],
      "webhookId": "0a82fd43-a37b-4553-9c24-6a732a42a001"
    },
    {
      "parameters": {
        "workflowId": "AudSTiummGvhHEbY",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "525ddbfd-a868-4cc0-8932-af1516167eb0",
      "name": "load templates",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1020,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "template": "={{ $json.template }}"
      },
      "id": "8b862639-eaec-47e2-80d7-7b69e28a81a4",
      "name": "DocumentGenerator",
      "type": "n8n-nodes-document-generator.documentGenerator",
      "typeVersion": 1,
      "position": [
        1480,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "id": "f75389e2-92e4-4dcb-b6ea-d77398d3e72a",
      "name": "echo !",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1720,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8cdc50-5a31-48d6-9352-ba0eff88fd58",
              "name": "message",
              "value": "={{ $('n8n Form Trigger').item.json.message }}",
              "type": "string"
            },
            {
              "id": "d5f6caf0-d8ff-466e-a374-ca4050840a74",
              "name": "template",
              "value": "={{ $json.templates.echo.contents }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "64e08cc5-b136-4f22-8db5-70d7c77050c3",
      "name": "message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1240,
        180
      ]
    },
    {
      "parameters": {
        "path": "hook/tumultes/echo",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": false
        }
      },
      "id": "6fd150cb-38d1-4397-baea-d8d2a8b3176a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        400,
        60
      ],
      "webhookId": "8adbd6ff-774a-4b17-94f0-f3a46787b663"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95befba9-1fa9-4f0d-9ec8-9bd99afe0ccc",
              "name": "input.message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8b30e1f-4e72-4501-bb9c-4b0af16271b4",
      "name": "input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7856fba-f098-46f5-80b9-0c5454a1e61b",
              "name": "input.message",
              "value": "={{ $json.query.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bcf6dabd-f9d2-4a6d-89cd-be566b5fd9ea",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        600,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0d0153f0-c3ab-4795-94c6-6fcc3a3aae99",
              "leftValue": "={{ $json.input.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "479977c3-dc96-45b8-aab4-92379a194044",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "errorMessage": "missing parameter \"message\""
      },
      "id": "e7ca05ba-437b-4f25-92df-785d31d52a21",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        800,
        480
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-03T02:45:00.520Z",
      "updatedAt": "2024-06-05T02:06:34.065Z",
      "id": "7Mcf1TtE2pSSugGK",
      "name": "tumultes"
    },
    {
      "createdAt": "2024-06-05T20:02:55.082Z",
      "updatedAt": "2024-06-05T20:02:55.082Z",
      "id": "DtfjwBranoaT0F0O",
      "name": "form"
    },
    {
      "createdAt": "2024-06-05T20:03:07.205Z",
      "updatedAt": "2024-06-05T20:03:07.205Z",
      "id": "eHvOKsO1PmNnWzQz",
      "name": "webhook"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2024-06-05T20:18:25.000Z",
  "versionId": "ed3b51b7-5c9d-4f35-a7f1-9b47867f6070"
}