workflows/tumultes/release.json
{
  "active": true,
  "connections": {
    "slug is empty ?": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "github get main branch sha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input": {
      "main": [
        [
          {
            "node": "slug is empty ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "github create branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github get main branch sha": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github create branch": {
      "main": [
        [
          {
            "node": "Nextcloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "github create pull request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud": {
      "main": [
        [
          {
            "node": "Read files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read files": {
      "main": [
        [
          {
            "node": "content-type = audio/",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github create pull request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "content-type = audio/": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-03T02:45:44.461Z",
  "id": "d9BeNLMMyqAVTZLs",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "tumultes/release",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3dad9456-22b1-4571-863a-6a0ee975acb2",
              "leftValue": "={{ $json.slug }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "00f8950e-d0ef-41db-bb8f-cf873059ed84",
      "name": "slug is empty ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        480
      ]
    },
    {
      "parameters": {
        "errorMessage": "missing parameter : \"slug\""
      },
      "id": "06b86715-95db-4213-9111-a1be706e0a12",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1320,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e13f43ce-f6c4-4561-b824-7dc3a5cfa3cd",
              "name": "slug",
              "value": "={{ $json.query.slug }}",
              "type": "string"
            },
            {
              "id": "50f9b6fe-309e-4188-9586-16389be02dae",
              "name": "origin",
              "value": "={{ $json.query.origin.urlDecode() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "453e79c5-19ca-45cd-91c6-546afd01e609",
      "name": "input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        860,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6762cac-2166-430c-9c05-46ce4751bde0",
              "name": "sha",
              "value": "={{ $json.object.sha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1dc296c-8f75-4bfd-8e22-8dfde8417e8e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1540,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/constructions-incongrues/tumultes/git/refs/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "d98cafcc-08cb-4c74-908c-748bf126fae7",
      "name": "github get main branch sha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1320,
        500
      ],
      "credentials": {
        "githubApi": {
          "id": "FJGiRvf8BGvvwTE7",
          "name": "trivoallan"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/constructions-incongrues/tumultes/git/refs ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "=refs/heads/{{ $('input').item.json.slug }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d60934a9-9187-464a-af65-baff104ba4bb",
      "name": "github create branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        500
      ],
      "credentials": {
        "githubApi": {
          "id": "FJGiRvf8BGvvwTE7",
          "name": "trivoallan"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "=/Conventicules/Tumultes/Draft/{{ $('input').item.json.slug }}"
      },
      "id": "42c876d3-f6f7-4855-8ddf-c5c1ecc7c136",
      "name": "Nextcloud",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2060,
        400
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "Fe0yTzo9kLrGMdUy",
          "name": "tristan@vip.jeancloude.club"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "path": "={{ $json.path.urlDecode() }}"
      },
      "id": "19e53d23-1965-46d5-ab19-ed7e66b45d33",
      "name": "Read files",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2280,
        400
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "Fe0yTzo9kLrGMdUy",
          "name": "tristan@vip.jeancloude.club"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/constructions-incongrues/tumultes/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Nouvelle Multitude : {{ $('input').item.json.slug }}"
            },
            {
              "name": "body",
              "value": "=BODY 2 BODY <3"
            },
            {
              "name": "head",
              "value": "={{ $('input').item.json.slug }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "8368d479-80ce-4f7b-b137-82062e7350f9",
      "name": "github create pull request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        580
      ],
      "credentials": {
        "githubApi": {
          "id": "FJGiRvf8BGvvwTE7",
          "name": "trivoallan"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Encore un chouïa de patience. Vous pouvez regarder <a href=\"{{ $json.html_url }}\">sous le capot</a> pour passer l'temps, ou bien retourner <a href=\"{{ $('input').item.json.origin }}\">d'où vous venez</a>.\n\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "text/html"
              },
              {
                "name": "charset",
                "value": "utf8"
              }
            ]
          }
        }
      },
      "id": "7598d22d-d184-4df8-a994-9bf36f88fbe9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2280,
        580
      ]
    },
    {
      "parameters": {
        "path": "tumultes/release",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "29b775cf-9ea4-402b-b324-1f0ebed19974",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        640,
        480
      ],
      "webhookId": "b3244a7f-6010-48f3-8745-b681ef577e6b"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "constructions-incongrues",
          "mode": "list",
          "cachedResultName": "constructions-incongrues",
          "cachedResultUrl": "https://github.com/constructions-incongrues"
        },
        "repository": {
          "__rl": true,
          "value": "tumultes",
          "mode": "list",
          "cachedResultName": "tumultes",
          "cachedResultUrl": "https://github.com/constructions-incongrues/tumultes"
        },
        "filePath": "=src/catalog/releases/{{ $('input').item.json.slug }}/{{ $json.path.split(\"/\").last() }}",
        "binaryData": true,
        "commitMessage": "=new : {{ $('input').item.json.slug }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('input').item.json.slug }}"
          }
        }
      },
      "id": "19452cfe-b2b3-4dcc-b3dd-22d9f1d17676",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2840,
        420
      ],
      "credentials": {
        "githubApi": {
          "id": "FJGiRvf8BGvvwTE7",
          "name": "trivoallan"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "85b65c0b-8841-4f54-80bd-a5d9fb09d16c",
              "leftValue": "={{ $json.contentType }}",
              "rightValue": "audio/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1fc1f66-ffa3-41ee-a4d1-4bb070ec8c8e",
      "name": "content-type = audio/",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2520,
        400
      ]
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "=tumultes.incongru.org/src/catalog/releases/{{ $('input').item.json.slug }}/{{ $json.path.urlDecode().split(\"/\").last().trim() }}"
      },
      "id": "61f8e567-74e6-4bf6-9ce1-88d9e1e26f2c",
      "name": "FTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        2840,
        180
      ],
      "credentials": {
        "sftp": {
          "id": "oNBJJ8rukxy8Gu1e",
          "name": "incongru_org@pastis"
        }
      }
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "sha": "67490266c38c73d5f0c3660f87b24b497b0685b5"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-03T02:45:00.520Z",
      "updatedAt": "2024-06-05T02:06:34.065Z",
      "id": "7Mcf1TtE2pSSugGK",
      "name": "tumultes"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-06-05T05:00:22.000Z",
  "versionId": "9a45ab6a-602c-485e-9fd3-3cc044495125"
}