workflows/tumultes/templates.json
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "load config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list": {
      "main": [
        [
          {
            "node": "download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "merge fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "load config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge fields": {
      "main": [
        [
          {
            "node": "templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "load config": {
      "main": [
        [
          {
            "node": "list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-05T16:18:39.886Z",
  "id": "AudSTiummGvhHEbY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "tumultes/templates",
  "nodes": [
    {
      "parameters": {},
      "id": "9044c743-ff94-423d-8f79-e3a2b1e4c264",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        420,
        140
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "={{ $json.config.nextcloud.root_dir }}/src/dessein/tumulte/templates"
      },
      "id": "1c066585-72db-4a61-8598-58235082dd2d",
      "name": "list",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "Fe0yTzo9kLrGMdUy",
          "name": "tristan@vip.jeancloude.club"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "path": "={{ $json.path }}"
      },
      "id": "9fed3b4b-3fc3-41eb-b840-64f7622c7b46",
      "name": "download",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "Fe0yTzo9kLrGMdUy",
          "name": "tristan@vip.jeancloude.club"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "contents",
        "options": {}
      },
      "id": "2493374e-2543-4f62-927a-447fb6a119b6",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1480,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de82bf49-ab3a-4e9f-b20d-6c1e484cf7d7",
              "name": "contents",
              "value": "={{ $json.contents }}",
              "type": "string"
            },
            {
              "id": "e9e901c2-935c-485a-aa30-942a3a8a6b12",
              "name": "path",
              "value": "={{ $('download').item.json.path }}",
              "type": "string"
            },
            {
              "id": "9249cf97-4c87-4c40-9776-b787bf55169a",
              "name": "filename",
              "value": "={{ $('download').item.json.path.split(\"/\").last() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "data",
        "options": {}
      },
      "id": "114bcf1b-c9c5-4ba1-b0b3-ca02f7af7956",
      "name": "merge fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {},
      "id": "843cb1b0-1f0e-4c81-9053-fe04cbe4024b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ea43b3e-058a-49f7-ba91-f2405fb12bc0",
              "name": "=templates.{{ $json.filename.split(\".\").first() }}.contents",
              "value": "={{ $json.filename }}",
              "type": "string"
            },
            {
              "id": "2324186e-a2c7-4355-bbf0-fa46830c2b31",
              "name": "=templates.{{ $json.filename.split(\".\").first() }}.contents",
              "value": "={{ $json.contents }}",
              "type": "string"
            },
            {
              "id": "45e833a9-4ac1-495b-932d-93b122a7b9ad",
              "name": "=templates.{{ $json.filename.split(\".\").first() }}.path",
              "value": "={{ $json.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c24effb9-9b34-48ab-8e93-735e4247e276",
      "name": "templates",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1980,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "g1YDDoDCPVXgTO3x",
        "options": {}
      },
      "id": "544bff0a-c112-4d63-aeba-d963dbfe0eeb",
      "name": "load config",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-06-03T02:45:00.520Z",
      "updatedAt": "2024-06-05T02:06:34.065Z",
      "id": "7Mcf1TtE2pSSugGK",
      "name": "tumultes"
    },
    {
      "createdAt": "2024-06-05T17:33:46.093Z",
      "updatedAt": "2024-06-05T17:33:46.093Z",
      "id": "8AmeAJjSK1gk2FqE",
      "name": "helper"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-06-05T20:35:35.000Z",
  "versionId": "253d6036-594c-49c5-aa95-4577dbc09b5b"
}